*, * ::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../img/Asgard.jpg);
    background-size: cover;
    overflow: hidden;
}

#mainWrapper {
    width: 100%;
    display: grid;
    height: 96vh;
    /* background-color: blue; */
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas:
        ". hd hd hd hd hd hd hd ."
        ". hd hd hd hd hd hd hd ."
        ". . . . . . . . ."
        "hk hk hk hk hk . . . ."
        "hk hk hk hk hk . . . ."
        "hk hk hk hk hk bd bd . ."
        "hk hk hk hk hk bd bd . ."
        "hk hk hk hk hk bd bd . ."
        "hk hk hk hk hk bd bd . ."
        "hk hk hk hk hk bd bd . ."
        "hk hk hk hk hk bd bd . ."
        "hk hk hk hk hk bd bd . ."
        "hk hk hk hk hk . . . ."
        "hk hk hk hk hk . . . ."
        "hk hk hk hk hk . . . bt"
    ;
}

.box {
    /* background-color:white; */
    text-align: center;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 60px;
}

header {
    grid-area: hd;
    margin-top: 10px;
    background-color: #337347;
    border-radius: 10px;
    border: 3px solid black;
    color: white;
}

.henk {
    grid-area: hk;
    margin-left: 10px;
    background-image: url(../img/MicrosoftTeams-image.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.button {
    grid-area: bt;
    margin-bottom: 8px;
    margin-right: 10px;
    text-align: center;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 28px;
    background-color: #337347;
    border-radius: 10px;
    color: white;
}

.wrapper {
    grid-area: bd;
   /* grid-row: 4/14; 
   grid-column: 6/10; */
   /* background-color: rgba(224, 130, 0, 0.5) */
}

.box2 {
    width: 133px;
    height: 133px;
    border: 1px solid black;
    float: left;
    border-radius: 10px;
    background-image: url(../img/Green.jpg);
    margin: 3px;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
}

.board {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    background-color: #337347;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n +1) {
    border-left: none;
}

.cell:nth-child(3n +3) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}

.cell.x,
.cell.circle {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before {
    background-color: black;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
    background-color: lightgray;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    position: absolute;
    content: '';
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after, 
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    position: absolute;
    content: '';
    border-radius: 50%;
}

.cell.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);

}

.cell.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color:#337347;
}

.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

.winning-message button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    pad: .25em .5em;
    cursor: pointer;
}

.winning-message button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.show {
    display: flex;
}

.start-screen {
    background-color: #337347;
    color: azure;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    margin: 5px;
}